spring:
  datasource:
    url: jdbc:tc:postgresql:15-alpine:///testdb
    driver-class-name: org.testcontainers.jdbc.ContainerDatabaseDriver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true

  flyway:
    enabled: true

app:
  jwt:
    secret: testSecretKeyForJwtTokenGenerationInTestEnvironment123456
    expiration-ms: 3600000